[submodule "blueprint-css"]
	path = blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = git://github.com/paulirish/html5-boilerplate.git
[submodule "jquery-validation"]
	path = jquery-validation
	url = git://github.com/jzaefferer/jquery-validation.git
[submodule "jquery.blank"]
	path = jquery.blank
	url = git://github.com/jeffh/jquery.blank.git
